* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
  min-height: 100vh;
}

.profile {
  width: 30%;
  padding: 40px;
  border-right: 1px solid #ddd;
  position:sticky;
    top:0;

    height:100vh;
}

.content {
  width: 70%;
  padding: 40px;
}

.content section {
  min-height: 100vh;
   padding:40px 0;
}
.profile{
    background:#f8fafc;
}

#about{
    background:#ffffff;
}

#education{
    background:#f8fafc;
}

#skills{
    background:#ffffff;
}

#projects{
    background:#f8fafc;
}

#contact{
    background:#ffffff;
}
